.header {
	-fx-box-sizing: border-box;
	-fx-height: 50px; 
    -fx-padding: 10px 15px;
    -fx-font-family: "Titillium Web";
    -fx-background-color: #EFF0F3;
}	
.userBox {
}
.userFullName {
	-fx-font-size: 18px;
	-fx-font-weight: 300;
}
.userRole {
	-fx-font-size: 12px;
	-fx-font-weight: 200;	
}

.logOut {
	-fx-background-color: black;
	-fx-padding: 200px;
}

.filterText {
	-fx-font-size: 18px
}