.header {
	-fx-box-sizing: border-box;
	-fx-height: 20px; 
    -fx-padding: 10px 15px;
    -fx-font-family: "Titillium Web";
    -fx-background-color: #EFF0F3;
}
.userFullName {
	-fx-font-size: 15px;
	-fx-font-weight: 300;
}
.userRole {
	-fx-font-size: 10px;
	-fx-font-weight: 200;	
}

.logOut {
	-fx-width: 25px;
	-fx-height: 25px;
	-fx-background-color: black;
	-fx-padding: 15px;

}

.filterText {
	-fx-font-size: 18px;
}

.dashboardText {
	-fx-font-family: "Titillium Web";
	-fx-font-size:250%;
}

.logoImg
{
	 -fx-padding:0 0 0 70px;
	 
}

.lblHistory {
	-fx-font-size: 150%;
	-fx-font-family: "Titillium Web";

}
.active {
	-fx-font-weight: 800;
}
