.header {
	-fx-box-sizing: border-box;
	-fx-height: 20px; 
    -fx-padding: 10px 0px 10px 15px;
    -fx-font-family: "Titillium Web";
    -fx-background-color: #EFF0F3;
    -fx-pref-width: 1440px;
    -fx-pref-height: 40px;
}
.userFullName {
	-fx-font-size: 15px;
	-fx-font-weight: 300;
}
.userRole {
	-fx-font-size: 10px;
	-fx-font-weight: 200;	
}

.logOut {
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	-fx-background-color: black;
	

}

.filterText {
	-fx-font-size: 18px;
}

.dashboardText {
	-fx-font-family: "Titillium Web";
	-fx-font-size:250%;
}

.logoImg
{
	 -fx-padding:0 0 0 70px;
	 -fx-pref-width: 30px;
	 
	 
}

.lblHistory {
	-fx-font-size: 150%;
	-fx-font-family: "Titillium Web";

}
.active {
	-fx-font-weight: 800;
}
.bttnBack{
	-fx-margin: 0 40px 0 0;
}

.userHeaderLabel{
	-fx-alignment: center;
	-fx-font-size: 110%;
	-fx-font-weight: 800;
	-fx-font-family: "Titillium Web";
}
.contentHeaderLabel {
	-fx-alignment: center;
	-fx-font-size: 110%;
	-fx-font-family: "Titillium Web";	
}
.userList{
	-fx-background-color: #fff;
}
.storeData{
	-fx-alignment: center;
	-fx-font-size: 110%;
}
.btnFormat{
	-fx-text-fill:white ; 
	 -fx-background-color:#5DA4C7; 
}
