.vbox{
	-fx-border-color: black;
}
.fonts{
	-fx-font-size:15;
	-fx-text-align:center;
	-fx-margin-top:30px;

}
.mainContent{
	-fx-border-radius: 2%;
    -fx-background-color: green;
   
}
.users{
	
	-fx-background-color: white;
	-fx-background-radius: 5px;
}